{%  extends 'base.html' %}

{% block content %}
    <div class="container">

        <table class="table table-bordered table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th>Cart Total</th>
                    <th>Shipping Total</th>
                    <th>Order Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ order.cart.total }}</td>
                    <td>{{ order.shipping_total }}</td>
                    <td>{{ order.total }}</td>
                </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
