<form class="add_to_cart_form" method='POST' action='{% url "carts:update" %}' data-endpoint='{% url "carts:update" %}'
      class="form">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <span class="submit-span">
        {% if product in cart.products.all %}
            <button type="button" class="btn btn-primary btn-block">
                Added to cart
            </button>
            <button type="submit" class="btn btn-outline-danger btn-block">
            <i class="fa fa-remove"></i>
                Remove from Cart
            </button>
        {% else %}
            <button type="submit" class="btn btn-success btn-block">
            <i class="fa fa-plus"></i>
                Add to Cart
            </button>
        {% endif %}
    </span>
</form>
